<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./layout.css" />
    <title>Document</title>
  </head>
  <body>
    <p id="top">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid ipsa
      sequi exercitationem mollitia nam! Eos quae ex placeat sed impedit
      asperiores. Quia odio debitis vitae amet ab recusandae nostrum dolorem.
      Earum quae eaque rem adipisci sit in nemo illum error ea odio repellat
      fugit non qui alias obcaecati aliquam repudiandae, velit officiis maiores
      corporis, commodi ad. Reprehenderit excepturi nihil animi. Ipsum quam
      impedit ad atque in, molestias nulla quidem quasi similique! Debitis
      repellendus temporibus quos ipsam enim accusamus sequi aliquid
      necessitatibus fugiat totam soluta exercitationem velit, sit omnis ut et!
      Et amet magnam dolorum veniam assumenda alias quidem omnis. Quisquam
      suscipit, fugit veritatis amet nostrum molestiae? Sapiente similique fugit
      nemo nostrum. Excepturi suscipit iusto animi blanditiis eos, laudantium
      perspiciatis eveniet? Sapiente cum nostrum magnam soluta totam perferendis
      enim, qui debitis? Molestiae quo architecto suscipit voluptas, reiciendis
      aut facilis maxime a nemo, totam maiores, vero rerum fugiat quia unde hic
      rem!
    </p>
    <img src="../../Intro excercies/samsungLogo.jfif" alt="" class="img1" />
    <img src="../../Intro excercies/samsungLogo.jfif" alt="" class="img2" />
    <img src="../../Intro excercies/samsungLogo.jfif" alt="" class="img3" />
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid ipsa
      sequi exercitationem mollitia nam! Eos quae ex placeat sed impedit
      asperiores. Quia odio debitis vitae amet ab recusandae nostrum dolorem.
      Earum quae eaque rem adipisci sit in nemo illum error ea odio repellat
      fugit non qui alias obcaecati aliquam repudiandae, velit officiis maiores
      corporis, commodi ad. Reprehenderit excepturi nihil animi. Ipsum quam
      impedit ad atque in, molestias nulla quidem quasi similique! Debitis
      repellendus temporibus quos ipsam enim accusamus sequi aliquid
      necessitatibus fugiat totam soluta exercitationem velit, sit omnis ut et!
      Et amet magnam dolorum veniam assumenda alias quidem omnis. Quisquam
      suscipit, fugit veritatis amet nostrum molestiae? Sapiente similique fugit
      nemo nostrum. Excepturi suscipit iusto animi blanditiis eos, laudantium
      perspiciatis eveniet? Sapiente cum nostrum magnam soluta totam perferendis
      enim, qui debitis? Molestiae quo architecto suscipit voluptas, reiciendis
      aut facilis maxime a nemo, totam maiores, vero rerum fugiat quia unde hic
      rem!
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid ipsa
      sequi exercitationem mollitia nam! Eos quae ex placeat sed impedit
      asperiores. Quia odio debitis vitae amet ab recusandae nostrum dolorem.
      Earum quae eaque rem adipisci sit in nemo illum error ea odio repellat
      fugit non qui alias obcaecati aliquam repudiandae, velit officiis maiores
      corporis, commodi ad. Reprehenderit excepturi nihil animi. Ipsum quam
      impedit ad atque in, molestias nulla quidem quasi similique! Debitis
      repellendus temporibus quos ipsam enim accusamus sequi aliquid
      necessitatibus fugiat totam soluta exercitationem velit, sit omnis ut et!
      Et amet magnam dolorum veniam assumenda alias quidem omnis. Quisquam
      suscipit, fugit veritatis amet nostrum molestiae? Sapiente similique fugit
      nemo nostrum. Excepturi suscipit iusto animi blanditiis eos, laudantium
      perspiciatis eveniet? Sapiente cum nostrum magnam soluta totam perferendis
      enim, qui debitis? Molestiae quo architecto suscipit voluptas, reiciendis
      aut facilis maxime a nemo, totam maiores, vero rerum fugiat quia unde hic
      rem!
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid ipsa
      sequi exercitationem mollitia nam! Eos quae ex placeat sed impedit
      asperiores. Quia odio debitis vitae amet ab recusandae nostrum dolorem.
      Earum quae eaque rem adipisci sit in nemo illum error ea odio repellat
      fugit non qui alias obcaecati aliquam repudiandae, velit officiis maiores
      corporis, commodi ad. Reprehenderit excepturi nihil animi. Ipsum quam
      impedit ad atque in, molestias nulla quidem quasi similique! Debitis
      repellendus temporibus quos ipsam enim accusamus sequi aliquid
      necessitatibus fugiat totam soluta exercitationem velit, sit omnis ut et!
      Et amet magnam dolorum veniam assumenda alias quidem omnis. Quisquam
      suscipit, fugit veritatis amet nostrum molestiae? Sapiente similique fugit
      nemo nostrum. Excepturi suscipit iusto animi blanditiis eos, laudantium
      perspiciatis eveniet? Sapiente cum nostrum magnam soluta totam perferendis
      enim, qui debitis? Molestiae quo architecto suscipit voluptas, reiciendis
      aut facilis maxime a nemo, totam maiores, vero rerum fugiat quia unde hic
      rem! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid
      ipsa sequi exercitationem mollitia nam! Eos quae ex placeat sed impedit
      asperiores. Quia odio debitis vitae amet ab recusandae nostrum dolorem.
      Earum quae eaque rem adipisci sit in nemo illum error ea odio repellat
      fugit non qui alias obcaecati aliquam repudiandae, velit officiis maiores
      corporis, commodi ad. Reprehenderit excepturi nihil animi. Ipsum quam
      impedit ad atque in, molestias nulla quidem quasi similique! Debitis
      repellendus temporibus quos ipsam enim accusamus sequi aliquid
      necessitatibus fugiat totam soluta exercitationem velit, sit omnis ut et!
      Et amet magnam dolorum veniam assumenda alias quidem omnis. Quisquam
      suscipit, fugit veritatis amet nostrum molestiae? Sapiente similique fugit
      nemo nostrum. Excepturi suscipit iusto animi blanditiis eos, laudantium
      perspiciatis eveniet? Sapiente cum nostrum magnam soluta totam perferendis
      enim, qui debitis? Molestiae quo architecto suscipit voluptas, reiciendis
      aut facilis maxime a nemo, totam maiores, vero rerum fugiat quia unde hic
      rem! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid
      ipsa sequi exercitationem mollitia nam! Eos quae ex placeat sed impedit
      asperiores. Quia odio debitis vitae amet ab recusandae nostrum dolorem.
      Earum quae eaque rem adipisci sit in nemo illum error ea odio repellat
      fugit non qui alias obcaecati aliquam repudiandae, velit officiis maiores
      corporis, commodi ad. Reprehenderit excepturi nihil animi. Ipsum quam
      impedit ad atque in, molestias nulla quidem quasi similique! Debitis
      repellendus temporibus quos ipsam enim accusamus sequi aliquid
      necessitatibus fugiat totam soluta exercitationem velit, sit omnis ut et!
      Et amet magnam dolorum veniam assumenda alias quidem omnis. Quisquam
      suscipit, fugit veritatis amet nostrum molestiae? Sapiente similique fugit
      nemo nostrum. Excepturi suscipit iusto animi blanditiis eos, laudantium
      perspiciatis eveniet? Sapiente cum nostrum magnam soluta totam perferendis
      enim, qui debitis? Molestiae quo architecto suscipit voluptas, reiciendis
      aut facilis maxime a nemo, totam maiores, vero rerum fugiat quia unde hic
      rem! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid
      ipsa sequi exercitationem mollitia nam! Eos quae ex placeat sed impedit
      asperiores. Quia odio debitis vitae amet ab recusandae nostrum dolorem.
      Earum quae eaque rem adipisci sit in nemo illum error ea odio repellat
      fugit non qui alias obcaecati aliquam repudiandae, velit officiis maiores
      corporis, commodi ad. Reprehenderit excepturi nihil animi. Ipsum quam
      impedit ad atque in, molestias nulla quidem quasi similique! Debitis
      repellendus temporibus quos ipsam enim accusamus sequi aliquid
      necessitatibus fugiat totam soluta exercitationem velit, sit omnis ut et!
      Et amet magnam dolorum veniam assumenda alias quidem omnis. Quisquam
      suscipit, fugit veritatis amet nostrum molestiae? Sapiente similique fugit
      nemo nostrum. Excepturi suscipit iusto animi blanditiis eos, laudantium
      perspiciatis eveniet? Sapiente cum nostrum magnam soluta totam perferendis
      enim, qui debitis? Molestiae quo architecto suscipit voluptas, reiciendis
      aut facilis maxime a nemo, totam maiores, vero rerum fugiat quia unde hic
      rem!
    </p>
    <a href="#top" class="link"> Go to the top</a>
  </body>
</html>
