<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./layoutIV.css" />
    <title>Flat layout</title>
  </head>
  <body>
    <div class="container">
      <div class="nav-bar clear-fix">
        <ul class="nav">
          <li>Home</li>
          <li>About</li>
          <li>Contact</li>
          <li>Blog</li>
        </ul>
        <img src="../505208_2307_4.jpg" alt="" />
        <ul class="related-topics">
          <li>Something something</li>
          <li>Something something</li>
          <li>Something something</li>
          <li>Something something</li>
        </ul>
        <div class="post">
          <img src="../300x200.png" alt="" />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et,
            dolores! Cum exercitationem, ex provident aliquam illo natus omnis
            rem dolorum numquam distinctio necessitatibus fugit reiciendis.
            Laudantium vitae ut quasi quisquam.
          </p>
        </div>
        <div class="post">
          <img src="../300x200.png" alt="" />
          <p>
            Illo accusamus quos, reiciendis ea aliquid dolores sit quis. Illo
            pariatur voluptates architecto! Ut nemo, molestias quidem iure
            reprehenderit eaque a, consequuntur unde nobis aspernatur nisi quia
            assumenda, odio ab?
          </p>
        </div>
        <div class="post">
          <img src="../300x200.png" alt="" />
          <p>
            Soluta assumenda, officiis cupiditate delectus placeat earum
            pariatur vel, corporis natus deserunt ea saepe quod aperiam
            consectetur nemo maiores nulla? Fuga temporibus, itaque ratione esse
            magni ad vel cumque recusandae.
          </p>
        </div>
        <div class="post">
          <img src="../300x200.png" alt="" />
          <p>
            Earum veniam sit excepturi aperiam architecto ullam nesciunt magni
            nulla. Laboriosam possimus quod eum iusto, quos dolore ratione unde
            eveniet at? Nisi qui veniam, ducimus enim ipsam cupiditate
            dignissimos dolorem.
          </p>
        </div>
        <div class="post">
          <img src="../300x200.png" alt="" />
          <p>
            Voluptate iste reprehenderit temporibus consequuntur distinctio
            animi maiores doloribus sapiente quos sunt consequatur inventore,
            deserunt delectus veniam accusamus. Ipsum ea neque quae consectetur
            aliquid est. Molestiae cupiditate nisi harum ducimus!
          </p>
        </div>
        <div class="post">
          <img src="../300x200.png" alt="" />
          <p>
            Asperiores, ducimus voluptatem similique illum aliquid quia possimus
            dolores debitis cumque, ratione assumenda, eum repellendus nobis
            magnam autem veritatis dolorum! Explicabo pariatur, qui hic quis rem
            fuga atque saepe? Eveniet?
          </p>
        </div>
        <div class="post">
          <img src="../300x200.png" alt="" />
          <p>
            Tempora dolorum exercitationem ut tempore veritatis ipsam sed
            explicabo eligendi rem, debitis reiciendis! Magni assumenda
            provident iste quis voluptatum deserunt perferendis error incidunt,
            omnis nam distinctio nemo hic, unde impedit?
          </p>
        </div>
        <div class="post">
          <img src="../300x200.png" alt="" />
          <p>
            Corporis unde alias fuga sequi voluptatum, dignissimos aliquid ad
            repellat reiciendis odit? Maxime nostrum, beatae quos aliquam
            repellat, unde eius placeat esse nemo consequuntur tempora magnam
            ipsum incidunt quibusdam delectus!
          </p>
        </div>
      </div>
    </div>
    <footer class="clear-fix">Big Student</footer>
  </body>
</html>
