<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./layout3.css" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>Home</li>
        <li>About</li>
        <li>Contact</li>
        <li>Blog</li>
      </ul>
    </nav>

    <header>
      <img src="../505208_2307_4.jpg" alt="" class="mainpic" />
    </header>

    <main>
      <section>
        <img src="../300x200.png" alt="" class="floatimg" />
        <img src="../300x200.png" alt="" class="floatimg" />
        <aside class="pInserted">
          Rebuilding slack.com <br />
          <br />
          Zašto bootcamp format? <br />
          <br />
          React - prozor u svet web aplikacija <br />
          <br />
          Najveća zabluda o programerima u Srbiji. <br />
          <br />
        </aside>

        <article>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente,
            ullam corrupti eaque pariatur eius nemo animi iusto incidunt
            voluptates labore, id reiciendis inventore non sed nostrum. Officiis
            praesentium ratione debitis!
          </p>
          <p>
            Similique et voluptatibus quam cupiditate. Soluta, numquam?
            Repellendus id voluptatum voluptate, ullam debitis, veniam
            consequuntur inventore voluptatibus enim iure omnis asperiores
            reprehenderit? Delectus enim, ut odit ipsa totam aperiam debitis.
          </p>
        </article>
      </section>
      <article class="secondRow">
        <img src="../300x200.png" alt="" class="floatimg" />
        <img src="../300x200.png" alt="" class="floatimg" />
        <img src="../300x200.png" alt="" class="floatimg" />
      </article>
      <article>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente,
          ullam corrupti eaque pariatur eius nemo animi iusto incidunt
          voluptates labore, id reiciendis inventore non sed nostrum. Officiis
          praesentium ratione debitis!
        </p>
        <p>
          Similique et voluptatibus quam cupiditate. Soluta, numquam?
          Repellendus id voluptatum voluptate, ullam debitis, veniam
          consequuntur inventore voluptatibus enim iure omnis asperiores
          reprehenderit? Delectus enim, ut odit ipsa totam aperiam debitis.
        </p>
        <p>
          Similique et voluptatibus quam cupiditate. Soluta, numquam?
          Repellendus id voluptatum voluptate, ullam debitis, veniam
          consequuntur inventore voluptatibus enim iure omnis asperiores
          reprehenderit? Delectus enim, ut odit ipsa totam aperiam debitis.
        </p>
      </article>
      <article>
        <img src="../300x200.png" alt="" class="floatimg" />
        <img src="../300x200.png" alt="" class="floatimg" />
        <img src="../300x200.png" alt="" class="floatimg" />
      </article>
      <article>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente,
          ullam corrupti eaque pariatur eius nemo animi iusto incidunt
          voluptates labore, id reiciendis inventore non sed nostrum. Officiis
          praesentium ratione debitis!
        </p>
        <p>
          Similique et voluptatibus quam cupiditate. Soluta, numquam?
          Repellendus id voluptatum voluptate, ullam debitis, veniam
          consequuntur inventore voluptatibus enim iure omnis asperiores
          reprehenderit? Delectus enim, ut odit ipsa totam aperiam debitis.
        </p>
        <p>
          Similique et voluptatibus quam cupiditate. Soluta, numquam?
          Repellendus id voluptatum voluptate, ullam debitis, veniam
          consequuntur inventore voluptatibus enim iure omnis asperiores
          reprehenderit? Delectus enim, ut odit ipsa totam aperiam debitis.
        </p>
      </article>
      <br />
    </main>

    <footer>
      <p class="footer">©BitStudent</p>
    </footer>
  </body>
</html>
