<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./submenu.css" />
    <title>Document</title>
  </head>
  <body class="body">
    <div class="navbar">
      <a href="#home">Home</a>
      <div class="subnav">
        <button class="subnavbtn">Menu 1</button>
        <div class="subnav-content">
          <a href="#sub1">Sub Menu 1</a>
          <a href="#sub2">Sub Menu 2</a>
          <a href="#sub3">Sub Menu 3</a>
        </div>
      </div>
      <div class="subnav">
        <button class="subnavbtn">Menu 2</button>
        <div class="subnav-content">
          <a href="#sub1">Sub Menu 1</a>
          <a href="#sub2">Sub Menu 2</a>
          <a href="#sub3">Sub Menu 3</a>
        </div>
      </div>
      <div class="subnav">
        <button class="subnavbtn">Menu 3</button>
        <div class="subnav-content">
          <a href="#sub1">Sub Menu 1</a>
          <a href="#sub2">Sub Menu 1</a>
          <a href="#sub3">Sub Menu 1</a>
        </div>
      </div>
    </div>
  </body>
</html>
