.p1 {
  color: darkturquoise;
  background-color: salmon;
  opacity: 0.5;
}

.p2 {
  color: rgb(0, 206, 209);
  background-color: silver;
}

.p3 {
  color: #00ced1;
  background-color: rgba(235, 233, 135, 0.5);
}

.definedOpa {
  opacity: 0.5;
}
.definedRgba {
  background-color: rgba(235, 233, 135, 0.5);
}

.col1 {
  background-color: salmon;
  color: aliceblue;
}
.col2 {
  background-color: rgb(219, 212, 212);
  color: hotpink;
}
.col3 {
  background-color: rgb(202, 90, 77);
}
.col4 {
  background-color: rgb(114, 128, 250);
}
.col5 {
  background-color: rgb(141, 250, 114);
}
